.ad-div{
  margin-top: .5rem;
}
.ad-div div{
  border-radius: .3rem;
  margin-bottom: .2rem;
  overflow: hidden;
}
.advert{
  height: 20px;
  font-size: 15px;
  color: #888;
  text-align: center;
}
.ignore {
  height: 20px;
  font-size: 15px;
  color: #888;
  text-align: center;
}